/var/log/{{ project_name }}/nginx/*.log {
    daily
    rotate 30
    create 666 {{ project_user_username }} {{ project_user_group }}
    dateext
    compress
    delaycompress
    notifempty
    missingok
}
