pythonpath = '/data/env/{{ project_name }}'
bind = '127.0.0.1:8000'
workers = 3
user = '{{ project_user_username }}'
errorlog = '/var/log/gunicorn/error.log'
accesslog = '/var/log/gunicorn/access.log'